body{
    background-color: #E5E5E5;;
}
header{
    background-color:#CF2B2B;
}

.titulo{
    font-family: 'Righteous';
    font-style: normal;
    color: white;
}

.subtitulo{
    color: white;
    
}