body{
    background-color: #E5E5E5;
    font-family: 'Roboto', sans-serif;
}
header{
    background-color:#CF2B2B;
    display: flex;
    flex-direction: column;
    height: 100px;
    
}

.titulo{
    font-family: 'Righteous';
    font-style: normal;
    color: white;
}

.subtitulo{
    color: white;
}