body{
    background-color: #E5E5E5;
    font-family: 'Roboto', sans-serif;
}
header{
    z-index: 1;
    background-color:#CF2B2B;
    display: flex;
    flex-direction: column;
    height: 100px;
    width: 100%;
    justify-content: center;
    position: fixed;
    top: 0;
    left: 0;
}

.titulo{
    font-family: 'Righteous';
    font-style: normal;
    font-weight: 400;
    font-size: 44px;
    line-height: 55px;
    letter-spacing: -0.012em;
    color: white;
}

.subtitulo{
    font-size: 18px;
    font-weight: 400;
    color: white;
}

.header{
    margin-left:21px;
}

nav{
    margin-top: 123px;
    margin-bottom: 108px;
}

nav section{
    margin-bottom: 27px;
    overflow-x: scroll;
}

nav h1{
    font-family: 'Righteous';
    font-style: normal;
    font-weight: 400;
    font-size: 26px;
    line-height: 32px;
    letter-spacing: 0.018em;
    margin-bottom: 17px;
    margin-left:19px;
}

nav section main{
    display: flex;
    align-items: center;
}
nav section main div {
    background-color: #FFFFFF;
    box-shadow: 0px 0px 10px -4px rgba(0, 0, 0, 0.25);
    border-radius: 9px;
    width: 172px;
    height: 216px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 14px;
    position: relative;
    margin-left: 19px;
}

h2{
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 19px;
    color: #333333;
}

p{
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 300;
    font-size: 15px;
    line-height: 18px;
    color: #A6A6A6;
}

h3{
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 19px;
    color: #000000;
}

footer{
    background-color: white;
    position: fixed;
    bottom: 0;
    left:0;
    display:flex;
    justify-content: center;
    align-items: center;
}

footer div p{
    font-size: 20px;
    font-weight: 400;
    }


.none {
    display: none;
}

.pratoSelecionado {
    box-shadow: 0px 0px 10px -4px rgba(0, 0, 0, 0.25), inset 0px 0px 0px 5px #32B72F;
}

.sobremesaSelecionada {
    box-shadow: 0px 0px 10px -4px rgba(0, 0, 0, 0.25), inset 0px 0px 0px 5px #32B72F;
}

.bebidaSelecionada {
    box-shadow: 0px 0px 10px -4px rgba(0, 0, 0, 0.25), inset 0px 0px 0px 5px #32B72F;
}

footer a button:enabled {
    background-color: #32B72F;
}

.finalizado {
    font-weight: 700;
}

footer {
    background-color: #FFFFFF;
    height: 100px;
    width: 100%;
    position: fixed;
    bottom: 0;
    left: 0;
    display: flex;
    justify-content: center;
    align-items: center;
}

a {
    width: 100%;
    display: flex;
    justify-content: center;
    text-decoration: none;
}

footer a button {
    border-radius: 50px;
    background-color: #CBCBCB;
    width: 80%;
    height: 61px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border: 0;
}

footer h1 {
    font-size: 20px;
    font-weight: 400;
    color: #FFFFFF;
    line-height: 23px;
    width: 200px;
}
